* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.btn {
  padding: 14px 26px;
  border-radius: 64px;
  display: inline-block;
  font-size: 15px;
}
.btn.border {
  color: #162E3C;
  border: 2px solid #162E3C;
}
.btn.black {
  color: white;
  background: #162E3C;
  border: 2px solid #162E3C;
}
.btn.small {
  padding: 10px 22px;
}
.btn.green {
  background: #DDF0A7;
  color: #162E3C;
}
.btn.bold {
  font-weight: 700;
}

.img-point {
  background: #DDF0A7;
  position: absolute;
  bottom: 50px;
  right: -30px;
  padding: 24px;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 700px) {
  .img-point {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    bottom: 0;
  }
}
.img-point h3 {
  color: #162E3C;
  font-size: 32px;
  font-weight: 700;
  font-family: "Fraunces", serif;
  margin-bottom: 5px;
}
@media (max-width: 900px) {
  .img-point h3 {
    font-size: 25px;
  }
}
.img-point p {
  font-size: 20px;
}
@media (max-width: 900px) {
  .img-point p {
    font-size: 15px;
  }
}
.img-point .img {
  width: 72px;
  height: 72px;
  border-radius: 16px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #162E3C;
}
.img-point .img img {
  width: 80%;
}
@media (max-width: 750px) {
  .img-point .img {
    width: 50px;
    height: 50px;
  }
}

.point {
  font-weight: 700;
  background: #DDF0A7;
  padding: 4px 12px;
  display: inline-block;
  border-radius: 64px;
}

.block-title {
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-size: 40px;
  margin: 20px 0;
  color: #162E3C;
}

.block-text {
  font-size: 18px;
  color: #49616E;
  line-height: 27px;
  margin-bottom: 15px;
}

.alert {
  background: #DDF0A7;
  padding: 12px 0;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.alert.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.alert span {
  position: absolute;
  right: 0;
  cursor: pointer;
}
@media (max-width: 1280px) {
  .alert span {
    right: 10px;
  }
}
.alert .container {
  position: relative;
  text-align: center;
}

.header {
  background: white;
  position: fixed;
  z-index: 3;
  width: 100%;
}
@media (max-width: 649px) {
  .header {
    position: static;
  }
}
.header__wrapper {
  padding: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__wrapper.alert-active {
  padding-top: 60px;
}
.header__logo {
  cursor: pointer;
}
.header__logo img {
  width: 100%;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav a {
  color: #162E3C;
  text-decoration: none;
  margin: 0 15px;
  font-size: 15px;
}
.header__nav a:first-child {
  margin-left: 0;
}
.header__nav a:last-child {
  margin-right: 0;
}
.header__nav a.btn:last-child {
  margin-left: 0;
}
@media (max-width: 649px) {
  .header__nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 20px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 3;
  }
  .header__nav a {
    font-size: 25px;
    margin: 0;
  }
  .header__nav.active {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.header__burger {
  display: none;
  width: 45px;
  height: 35px;
  position: relative;
}
.header__burger span {
  width: 100%;
  height: 3px;
  background: #162E3C;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header__burger span.first {
  position: absolute;
  top: 0;
}
.header__burger span.last {
  position: absolute;
  bottom: 0;
}
.header__burger span.center {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
@media (max-width: 649px) {
  .header__burger {
    display: block;
  }
}
.header__burger.active {
  z-index: 10;
}
.header__burger.active span.center {
  display: none;
}
.header__burger.active span.first {
  -webkit-transform: rotate(42deg);
          transform: rotate(42deg);
  margin-top: 10px;
}
.header__burger.active span.last {
  -webkit-transform: rotate(-42deg);
          transform: rotate(-42deg);
  margin-bottom: 22px;
}

.hero {
  padding: 200px 0;
  background: #162E3C;
  color: white;
  position: relative;
}
@media (max-width: 680px) {
  .hero {
    padding-bottom: 100px;
  }
}
.hero__decor img {
  position: absolute;
}
.hero__decor img:first-child {
  top: 100px;
  left: 0;
}
@media (max-width: 940px) {
  .hero__decor img:first-child {
    width: 93px;
  }
}
.hero__decor img:last-child {
  top: 200px;
  right: 0;
}
@media (max-width: 940px) {
  .hero__decor img:last-child {
    width: 85px;
  }
}
.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 695px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
  position: relative;
  z-index: 2;
}
.hero h1 {
  font-family: "Fraunces", serif;
  font-size: 56px;
  margin-bottom: 30px;
}
.hero p {
  font-size: 20px;
}
.hero__btn {
  margin-top: 40px;
}
.hero__btn .btn:last-child {
  color: white;
}
.hero__watch {
  position: relative;
}
.hero__watch .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.hero__watch .img {
  width: 100%;
}
.hero__watch .img img {
  width: 100%;
}

.speed {
  padding: 65px 0;
  padding-top: 130px;
}
.speed__wrapper {
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 80px 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 700px) {
  .speed__wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.speed__img {
  position: relative;
}
.speed__img .bg {
  width: 100%;
}
.speed__img .bg img {
  width: 100%;
}
@media (max-width: 700px) {
  .speed__content {
    margin-top: 50px;
    text-align: center;
  }
}

.benefits {
  padding: 65px 0;
}
.benefits__wrapper {
  background: #DDF0A7;
  padding: 127px 64px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 48px;
  color: #162E3C;
}
@media (max-width: 420px) {
  .benefits__wrapper {
    padding: 50px 15px;
  }
}
.benefits__wrapper .title {
  max-width: 704px;
  margin: 0 auto;
  text-align: center;
}
.benefits__card-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 32px 1fr 32px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  padding: 62px 0;
}
@media (max-width: 900px) {
  .benefits__card-wrapper {
    overflow-x: scroll;
    -ms-grid-columns: 350px 350px 350px;
    grid-template-columns: 350px 350px 350px;
  }
}
.benefits__card {
  background: #162E3C;
  color: white;
  padding: 31px 54px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  border-radius: 24px;
}
.benefits__card .icon {
  width: 100px;
  margin: 0 auto;
}
.benefits__card .icon img {
  width: 100%;
}
.benefits__card h3 {
  font-size: 20px;
  font-family: "Fraunces", serif;
  margin: 15px 0;
}
.benefits__card p {
  font-size: 15px;
  line-height: 24px;
}
.benefits .block-btn {
  margin-top: 48px;
  text-align: center;
}

.efficient {
  padding: 65px 0;
}
.efficient__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 80px 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
}
@media (max-width: 700px) {
  .efficient__wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 700px) {
  .efficient__content {
    margin-top: 50px;
    text-align: center;
  }
}
.efficient__content .card__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 50px 0;
}
@media (max-width: 700px) {
  .efficient__content .card__wrapper {
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
}
@media (max-width: 420px) {
  .efficient__content .card__wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}
.efficient__content .card .icon {
  width: 56px;
  height: 56px;
  background: #DDF0A7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 16px;
}
.efficient__content .card .icon img {
  width: 60%;
}
@media (max-width: 700px) {
  .efficient__content .card .icon {
    margin: 0 auto;
  }
}
.efficient__content .card h3 {
  font-family: "Fraunces", serif;
  font-size: 20px;
  margin: 20px 0;
}
.efficient__content .card p {
  max-width: 250px;
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 700px) {
  .efficient__content .card p {
    max-width: 100%;
  }
}
.efficient__bg {
  position: relative;
}
@media (max-width: 700px) {
  .efficient__bg {
    -ms-grid-row: 1;
    grid-row: 1;
  }
}
.efficient__bg img {
  width: 100%;
}
.efficient__bg .img-point {
  left: -50px;
  right: auto;
}
@media (max-width: 700px) {
  .efficient__bg .img-point {
    left: 50%;
  }
}

.review {
  background: #162E3C;
  padding: 65px 0;
  padding: 130px 0;
}
.review__content {
  text-align: center;
  color: white;
  margin-bottom: 100px;
}
.review__content P {
  color: white;
}
.review__content h3 {
  color: white;
}
.review__card-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
@media (max-width: 550px) {
  .review__card-wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}
.review__card-box {
  background: white;
  border-radius: 32px;
  padding: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.review__card:nth-child(even) {
  padding-top: 50px;
}
@media (max-width: 550px) {
  .review__card:nth-child(even) {
    padding-top: 0;
  }
}
.review__card p {
  font-size: 18px;
  color: #49616E;
  margin: 20px 0;
}
.review__card .people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.review__card .people .logo {
  margin-right: 20px;
  border-radius: 13px;
  overflow: hidden;
}
.review__card .people .logo img {
  width: 100%;
}
.review__card .people p {
  margin: 0;
}
.review__card .people .name {
  font-size: 15px;
  color: #162E3C;
  margin-bottom: 5px;
}
.review__card .people .work {
  font-size: 16px;
}

.price {
  padding: 65px 0;
}
.price__content {
  text-align: center;
}
.price__card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  margin-top: 80px;
}
@media (max-width: 730px) {
  .price__card-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.price__card {
  -webkit-box-flex: 33.333%;
      -ms-flex: 33.333%;
          flex: 33.333%;
  color: white;
  position: relative;
}
@media (max-width: 730px) {
  .price__card {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}
.price__card:after {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  background: url("../img/pay-black.svg") 0 0/cover no-repeat;
  top: 32px;
  right: 32px;
}
.price__card.main {
  color: #162E3C;
}
.price__card.main:after {
  background: url("../img/pay-green.svg") 0 0/cover no-repeat;
}
.price__card.main .box {
  background: #DDF0A7;
}
.price__card.main .includes {
  margin-bottom: 200px;
}
@media (max-width: 730px) {
  .price__card.main .includes {
    margin-bottom: 100px;
  }
}
.price__card.main .includes .item:before {
  background: #162E3C;
}
.price__card .box {
  background: #162E3C;
  padding: 32px;
  border-radius: 32px;
}
.price__card .line {
  height: 1px;
  width: 100%;
  background: #223E4E;
  display: block;
  margin: 32px 0;
}
.price__card .plan {
  margin-top: 80px;
}
.price__card .plan .title {
  font-size: 20px;
  font-family: "Fraunces", serif;
}
.price__card .plan .price-num {
  font-size: 56px;
  font-family: "Fraunces", serif;
  margin: 15px 0;
}
.price__card .plan .price-num span {
  font-size: 32px;
}
@media (max-width: 850px) {
  .price__card .plan .price-num {
    font-size: 30px;
  }
}
.price__card .plan P {
  font-size: 16px;
}
.price__card .includes {
  margin-bottom: 100px;
}
.price__card .includes p {
  font-size: 15px;
}
.price__card .includes .title {
  margin-bottom: 24px;
}
.price__card .includes .item {
  margin: 20px 0;
  position: relative;
  padding-left: 40px;
}
.price__card .includes .item:first-child {
  margin-top: 0;
}
.price__card .includes .item:last-child {
  margin-bottom: 0;
}
.price__card .includes .item:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: #DDF0A7;
  left: 0;
  border-radius: 100px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.price__card .btn {
  display: block;
  text-align: center;
}

.blog {
  padding: 65px 0;
}
.blog__content {
  text-align: center;
}
.blog__card-wrapper {
  padding: 80px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 32px 1fr 32px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}
@media (max-width: 720px) {
  .blog__card-wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.blog__card {
  border-radius: 0 0 32px 32px;
  overflow: hidden;
  border: 1px solid #E5E7EB;
  text-align: center;
}
.blog__card .img img {
  width: 100%;
}
.blog__card .about {
  margin-top: 24px;
}
.blog__card .about p {
  display: inline-block;
}
.blog__card .about .tag {
  padding: 9px 17px;
  border-radius: 32px;
  border: 1px solid #E5E7EB;
}
.blog__card .about .time {
  font-size: 14px;
  margin-left: 10px;
}
.blog__card .content {
  margin: 20px 0;
  margin-bottom: 25px;
  padding: 0 15px;
}
.blog__card .content h3 {
  font-size: 24px;
  font-family: "Fraunces", serif;
}
.blog__card .content p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
}
.blog__card .content .more {
  color: #162E3C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog__card .content .more .arrow {
  width: 32px;
  height: 32px;
  background: #162E3C;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}
.blog .btn-wrapper {
  text-align: center;
}

.form {
  padding: 100px 0;
  color: #162E3C;
}
.form__wrapper {
  border-radius: 48px;
  background: #DDF0A7;
  padding: 100px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.form__content {
  max-width: 727px;
}
.form__content h3 {
  font-size: 40px;
  font-family: "Fraunces", serif;
  margin-bottom: 15px;
}
.form__content p {
  font-size: 18px;
}
.form form {
  margin: 40px 0;
}
.form form input {
  padding: 12px 42px;
  font-size: "Space Grotesk", sans-serif;
  border-radius: 24px;
  margin-right: 20px;
}
@media (max-width: 444px) {
  .form form input {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.form .ps {
  font-size: 11px;
}

.footer {
  background: #162E3C;
  color: white;
  padding: 50px 0;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__logo .logo {
  max-width: 112px;
  margin-bottom: 20px;
}
.footer__logo .logo img {
  width: 100%;
}
.footer__logo p {
  font-size: 14px;
}
.footer__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.footer__soc a {
  background: #DDF0A7;
  display: block;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
}

body {
  font-family: "Space Grotesk", sans-serif;
  color: #162E3C;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}